/* Style.css - enthält die Stilinformationen für die Wordle-Anwendung */
/* Animation für Button-Hover */
.button {
    -fx-background-color: #e6e6e6;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-border-width: 0;
    -fx-effect: null;
    -fx-transition: all 0.3s ease-in-out;
}

/* Stil für die Tastatur-Buttons */
.keyboard-button {
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

/* Hervorgehobene Zelle */
.game-cell-highlighted {
    -fx-border-color: #999b9e;
}

/* Änder die erste Szene */
.root {
    -fx-background-color: #ffffff;
}

/* Theme-Stile hinzufügen */
/* Dunkles Theme */
.theme-dark {
    -fx-background-color: #1e1e1e;
}

.theme-dark .label {
    -fx-text-fill: #686868;
}

.theme-dark .button {
    -fx-background-color: #404040;
    -fx-text-fill: #e6e6e6;
}

.theme-dark .radio-button {
    -fx-text-fill: #e6e6e6;
}

.theme-dark .check-box {
    -fx-text-fill: #e6e6e6;
}

/* Helles Theme */
.theme-light {
    -fx-background-color: #f0f0f0;
}

.theme-light .label {
    -fx-text-fill: #1e1e1e;
}

.theme-light .button {
    -fx-background-color: #e6e6e6;
    -fx-text-fill: #1e1e1e;
}

/* Mint Theme */
.theme-mint {
    -fx-background-color: #c8ffdc;
}

.theme-mint .label {
    -fx-text-fill: #000000;
}

.theme-mint .button {
    -fx-background-color: #aee6c2;
    -fx-text-fill: #000000;
}

.theme-mint .check-box .box {
    -fx-background-color: #aee6c2;
}

.theme-mint .radio-button .radio {
    -fx-background-color: #aee6c2;
}

/* Grundlegende Zellen im mint-theme */
.mint-theme .game-cell {
    -fx-background-color: #6c9378;
    -fx-border-color: #98c7a9;
}

/* Hervorgehobene Zellen im mint-theme */
.mint-theme .game-cell-highlighted {
    -fx-border-color: #5a9d7a;
    -fx-border-width: 2;
}


.random-theme {
    /* Wird dynamisch gesetzt */
}
